<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navContent">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/gallery/index">Gallery-FUN</a>
    </div>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="nav navbar-nav">
	<li><a href="/gallery/about">ABOUT</a></li>
	<li><a href="/gallery/member">MEMBER</a></li>
	<li><a href="/gallery/one_hour">1H-DRAW</a></li>
	<li><a href="/topics">TOPICS</a></li>
      </ul>
      <%= form_tag("/gallery/search", method: "get", class: "navbar-form navbar-right") do %>
      <%= text_field_tag(:keywords, "", class: "form-control") %>
      <%= submit_tag("Search", class: "btn btn-outline-success") %>
      <% end %>
    </div>
  </div>
</nav>
