<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navContent">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/gallery/index">Gallery-FUN</a>
    </div>
    <div class="collapse navbar-collapse" id="navContent">
      <ul class="nav navbar-nav">
	<li><a href="/gallery/about">ABOUT</a></li>
	<li><a href="/gallery/member">MEMBER</a></li>
      </ul>
    </div>
  </div>
</nav>
