<body>
  <%= render "shared/navbar" %>

  <h3>ABOUT</h3>
  <p>Twitterでイラストを表示する時に"#fun_illustrator"タグを付けるとここでピックアップされます。
    <br>さらに"#header"タグを追加するとトップページのヘッダ候補になります。
    <br>イラストサークル以外の人もどんどん投稿してもらってかまいません。</p>
  <p>つくってるひと 明石暁
    <br>Twitter <a href="https://twitter.com/akashi_akatsuki">@akashi_akatsuki</a>
    <br>GitHub <a href="https://github.com/AkashiAkatsuki">AkashiAkatsuki</a>
  </p>
  
</body>
