.header-illust {
    width: 100%;
    padding-bottom: 10px;
}

.panel {
    padding: 10px;
}

.illust-box {
    width: 320px;
    height: 320px;
    padding: 10px ;
    list-style: none; 
}

.illust-box-image {
    max-width: 240px;
    max-height: 240px;
}

.illust-large {
    list-style: none;
}

.illust-large-image {
    width: 100%;
    padding: 50px auto 50px;
    margin: 10px;
}

.pager {
    text-align: center; 
}

.pager li{
    display: inline;
}
